.row.mt-5
  .col-md-3.mb15
    article.box.h-100
      figure.itembox.text-center
        span.mt-2.icon-wrap.rounded.icon-sm.bg-success
          i.fa.fa-user.white
        figcaption.text-wrap
          h5.title Creative Strategy & solution

      // iconbox //
      // panel-lg.//
      // col //
  .col-md-3.mb15
    article.box.h-100
      figure.itembox.text-center
        span.mt-2.icon-wrap.rounded.icon-sm.bg-warning
          i.fa.fa-cogs.white
        figcaption.text-wrap
          h5.title Some good title

      // iconbox //
      // panel-lg.//
      // col //
  .col-md-3.mb15
    article.box.h-100
      figure.itembox.text-center
        span.mt-2.icon-wrap.rounded.icon-sm.bg-primary
          i.fa.fa-clock.white
        figcaption.text-wrap
          h5.title Track your time

      // iconbox //
      // panel-lg.//
      // col //
  .col-md-3.mb15
    article.box.h-100
      figure.itembox.text-center
        span.mt-2.icon-wrap.rounded.icon-sm.bg-secondary
          i.fa.fa-building.white
        figcaption.text-wrap
          h5.title Building Business Innovation

      // iconbox //
      // panel-lg.//
      // col //
// row.//
