header.clearfix.col-12
    .title-text
      span.h4 Featured Products
div( class="owl-carousel owl-init slide-items" data-items="5" data-margin="20" data-dots="true" data-nav="true")
  .item-slide
    figure.card.card-sm.card-product
      span.badge-new  NEW
      .img-wrap
        img(src='assets/images/items/1.jpg')
      figcaption.info-wrap.text-center
        h6.title.text-truncate
          a(href='#') Good item name
    // card //
  .item-slide
    figure.card.card-sm.card-product
      span.badge-new  NEW
      .img-wrap
        img(src='assets/images/items/2.jpg')
      figcaption.info-wrap.text-center
        h6.title.text-truncate
          a(href='#') Good item name
    // card //
  .item-slide
    figure.card.card-sm.card-product
      span.badge-new  NEW
      .img-wrap
        img(src='assets/images/items/3.jpg')
      figcaption.info-wrap.text-center
        h6.title.text-truncate
          a(href='#') Good item name
    // card //
  .item-slide
    figure.card.card-sm.card-product
      span.badge-new  NEW
      .img-wrap
        img(src='assets/images/items/4.jpg')
      figcaption.info-wrap.text-center
        h6.title.text-truncate
          a(href='#') Good item name
    // card //
  .item-slide
    figure.card.card-sm.card-product
      span.badge-new  NEW
      .img-wrap
        img(src='assets/images/items/5.jpg')
      figcaption.info-wrap.text-center
        h6.title.text-truncate
          a(href='#') Good item name
    // card //
  .item-slide
    figure.card.card-sm.card-product
      span.badge-new  NEW
      .img-wrap
        img(src='assets/images/items/6.jpg')
      figcaption.info-wrap.text-center
        h6.title.text-truncate
          a(href='#') Good item name
    // card //
  .item-slide
    figure.card.card-sm.card-product
      span.badge-new  NEW
      .img-wrap
        img(src='assets/images/items/7.jpg')
      figcaption.info-wrap.text-center
        h6.title.text-truncate
          a(href='#') Good item name
    // card //
  .item-slide
    figure.card.card-sm.card-product
      span.badge-new  NEW
      .img-wrap
        img(src='assets/images/items/3.jpg')
      figcaption.info-wrap.text-center
        h6.title.text-truncate
          a(href='#') Good item name
    // card //
