.row
  header.clearfix.col-12
    .title-text
      span.h4.float-start Featured Products

      a.link-primary.see-all.float-end(href="#") see all
  .col-md-4
    a.text-decoration-none(href="#")
      figure.card.card-product
        .img-wrap
          img(src='assets/images/items/7.jpg')
        figcaption.info-wrap
          h4.title Another name of item
          p.desc Some small description goes here
          .rating-wrap
            ul.rating-stars
              li.stars-active(style='width:70%')
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
              li
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
            .label-rating.small.text-success 132 reviews
            .label-rating.small.text-muted 154 orders
          // rating-wrap.//
        .bottom-wrap

          a.float-end(href='#' data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top")
            i.fas.fa-cart-plus.fa-2x
          a.wish.float-end.me-2(href='#' onClick="see()")
            i.far.fa-heart.fa-2x.empty
            i.fas.fa-heart.fa-2x.full(data-bs-toggle="tooltip" data-placement="top" title="add to wishlist")
          a.quick-btn.float-end.me-2(href='#' data-bs-toggle="modal" data-bs-target="#modal" )
            i.far.fa-eye.fa-2x(data-bs-toggle="tooltip" data-placement="top" title="quick view")
          .price-wrap.h5
            span.price-new $1280
            del.price-old.small $1980
          // price-wrap.//
          // bottom-wrap.//
          // col //

// row.//
