.row
  header.clearfix.col-12
    .title-text
      span.h4.float-start Featured Products

      a.link-primary.see-all.float-end(href="#") see all
  .col-md-4
    figure.card.card-product
      .img-wrap
        img(src='assets/images/items/1.jpg')
        .img-wrap-overlay.d-flex
          a(href='#' data-toggle="modal" data-target="#modal")
            i.fas.fa-eye.fa-2x
            h4.h4 Quick view

      figcaption.info-wrap
        h4.title Another name of item
        p.desc Some small description goes here
        .rating-wrap
          ul.rating-stars
            li.stars-active(style='width:70%')
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            li
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .label-rating 132 reviews
          .label-rating 154 orders
        // rating-wrap.//
      .bottom-wrap
        a.float-end(href='#'  data-toggle="tooltip" data-placement="top" title="add to cart")
          i.fas.fa-cart-plus.fa-2x
        a.wish.float-end.me-2(href='#' data-toggle="tooltip" data-placement="top" title="add to wishlist")
          i.far.fa-heart.fa-2x.empty
          i.fas.fa-heart.fa-2x.full
        .price-wrap.h5
          span.price-new $1280
          del.price-old.small $1980
        // price-wrap.//
        // bottom-wrap.//
        // col //
  .col-md-4
    figure.card.card-product
      .img-wrap
        img(src='assets/images/items/2.jpg')
      figcaption.info-wrap
        h4.title Good product
        p.desc Some small description goes here
        .rating-wrap
          ul.rating-stars
            li.stars-active(style='width:80%')
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            li
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .label-rating 132 reviews
          .label-rating 154 orders
        // rating-wrap.//
      .bottom-wrap
        a.btn.btn-primary.float-end(href='') Order Now
        .price-wrap.h5
          span.price-new $1280
          del.price-old.small $1980
        // price-wrap.//
        // bottom-wrap.//
        // col //
  .col-md-4
    figure.card.card-product
      .img-wrap
        img(src='assets/images/items/3.jpg')
      figcaption.info-wrap
        h4.title Product name goes here
        p.desc Some small description goes here
        .rating-wrap
          ul.rating-stars
            li.stars-active(style='width:80%')
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            li
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .label-rating 132 reviews
          .label-rating 154 orders
        // rating-wrap.//
      .bottom-wrap
        a.btn.btn-primary.float-end(href='') Order Now
        .price-wrap.h5
          span.price-new $1280
          del.price-old.small $1980
        // price-wrap.//
        // bottom-wrap.//
        // col //
// row.//
