.row
  header.clearfix.col-12
    .title-text
      span.h4 Featured Products
  .col-md-4
    figure.card.card-product
      .img-wrap
        img(src='assets/images/items/1.jpg')
      figcaption.info-wrap
        h4.title Another name of item
        p.desc Some small description goes here
        .rating-wrap
          ul.rating-stars
            li.stars-active(style='width:80%')
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            li
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .label-rating 132 reviews
          .label-rating 154 orders
        // rating-wrap.//
      .bottom-wrap
        a.btn.btn-primary.float-end(href='') Order Now
        .price-wrap.h5
          span.price-new $1280
          del.price-old.small $1980
        // price-wrap.//
        // bottom-wrap.//
        // col //
  .col-md-4
    figure.card.card-product
      .img-wrap
        img(src='assets/images/items/2.jpg')
      figcaption.info-wrap
        h4.title Good product
        p.desc Some small description goes here
        .rating-wrap
          ul.rating-stars
            li.stars-active(style='width:80%')
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            li
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .label-rating 132 reviews
          .label-rating 154 orders
        // rating-wrap.//
      .bottom-wrap
        a.btn.btn-primary.float-end(href='') Order Now
        .price-wrap.h5
          span.price-new $1280
          del.price-old.small $1980
        // price-wrap.//
        // bottom-wrap.//
        // col //
  .col-md-4
    figure.card.card-product
      .img-wrap
        img(src='assets/images/items/3.jpg')
      figcaption.info-wrap
        h4.title Product name goes here
        p.desc Some small description goes here
        .rating-wrap
          ul.rating-stars
            li.stars-active(style='width:80%')
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            li
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .label-rating 132 reviews
          .label-rating 154 orders
        // rating-wrap.//
      .bottom-wrap
        a.btn.btn-primary.float-end(href='') Order Now
        .price-wrap.h5
          span.price-new $1280
          del.price-old.small $1980
        // price-wrap.//
        // bottom-wrap.//
        // col //
// row.//
