include ../../../_mixins/_featured_mixins

.row
  header.clearfix.col-12
    .title-text
      span.h4.float-start Featured Products
  ul#myTab.mb-3.ms-3.nav.nav-pills(role='tablist')
    li.nav-item(role='presentation')
      a#home-tab.nav-link.active(data-bs-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Categorie 1
    li.nav-item(role='presentation')
      a#profile-tab.nav-link(data-bs-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Categorie 2
    li.nav-item(role='presentation')
      a#contact-tab.nav-link(data-bs-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Categorie 3
  #myTabContent.tab-content
    #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
      .row
        +featuredCard({
          img: 'assets/images/items/5.jpg',
          title: 'Titre',
          desc: 'Description',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
        +featuredCard({
          img: 'assets/images/items/3.jpg',
          title: 'Titre2',
          desc: 'Description',
          reviews: '50',
          orders: '45',
          price: '5000',
          oldPrice: '6300',
        })
        +featuredCard({
          img: 'assets/images/items/1.jpg',
          title: 'Titre2',
          desc: 'Description',
          reviews: '500',
          orders: '230',
          price: '3500',
          oldPrice: '4300',
        })
    #profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab')
      .row
        +featuredCard({
          img: 'assets/images/items/2.jpg',
          title: 'Titre',
          desc: 'Description',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
        +featuredCard({
          img: 'assets/images/items/4.jpg',
          title: 'Titre2',
          desc: 'Description',
          reviews: '50',
          orders: '45',
          price: '5000',
          oldPrice: '6300',
        })
        +featuredCard({
          img: 'assets/images/items/6.jpg',
          title: 'Titre2',
          desc: 'Description',
          reviews: '500',
          orders: '230',
          price: '3500',
          oldPrice: '4300',
        })
    #contact.tab-pane.fade(role='tabpanel' aria-labelledby='nav-contact-tab')
      .row
        +featuredCard({
          img: 'assets/images/items/7.jpg',
          title: 'Titre',
          desc: 'Description',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
        +featuredCard({
          img: 'assets/images/items/5.jpg',
          title: 'Titre2',
          desc: 'Description',
          reviews: '50',
          orders: '45',
          price: '5000',
          oldPrice: '6300',
        })
        +featuredCard({
          img: 'assets/images/items/3.jpg',
          title: 'Titre2',
          desc: 'Description',
          reviews: '500',
          orders: '230',
          price: '3500',
          oldPrice: '4300',
        })
// row.//
