include ../../../_mixins/_newProduct_mixins

.row
  header.clearfix.col-12
    .title-text
      span.h4 New products
  +newProductCard({
          img: 'assets/images/items/5.jpg',
          title: 'Titre',
          sizeCol: ' col-md-3 col-6',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
  +newProductCard({
          img: 'assets/images/items/3.jpg',
          title: 'Titre',
          sizeCol: ' col-md-3 col-6',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
  +newProductCard({
          img: 'assets/images/items/2.jpg',
          title: 'Titre',
          sizeCol: ' col-md-3 col-6',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
  +newProductCard({
          img: 'assets/images/items/6.jpg',
          title: 'Titre',
          sizeCol: ' col-md-3 col-6',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
  +newProductCard({
          img: 'assets/images/items/7.jpg',
          title: 'Titre',
          sizeCol: ' col-md-3 col-6',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
  +newProductCard({
          img: 'assets/images/items/1.jpg',
          title: 'Titre',
          sizeCol: ' col-md-3 col-6',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
  +newProductCard({
          img: 'assets/images/items/2.jpg',
          title: 'Titre',
          sizeCol: ' col-md-3 col-6',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
  +newProductCard({
          img: 'assets/images/items/5.jpg',
          title: 'Titre',
          sizeCol: ' col-md-3 col-6',
          reviews: '35',
          orders: '10',
          price: '500',
          oldPrice: '830',
        })
