.modal.fade#modal(tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
  .modal-dialog.modal-xl.modal-dialog-centered
    .modal-content.container.p-0
      .card
        button.btn-close.float-end(type='button' data-dismiss='modal' aria-label='Close')

        .row
          aside.col-sm-5.border-right.position-relative.content-slider
            article.h-100
              include quick-slider
          aside.col-sm-7
            article.p-5
              h3.title.b.h2.mb-3 Original Version of Some product name
              .rating-wrap.mb-3
                ul.rating-stars
                  li.stars-active(style='width:80%')
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                .label-rating.text-success.small 132 reviews
                .label-rating.small.text-muted 154 orders
              .mb-3
                var.price.h3.text-primary
                  span.num.b.me-2 1299
                  span.currency.small Dzd
                  
                
              // price-detail-wrap .//
              dl
                dt Description
                dd
                  p
                    | Here goes description consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco
              dl.row
                dt.col-sm-3 Model#
                dd.col-sm-9 12345611
                dt.col-sm-3 Color
                dd.col-sm-9 Black and white
                dt.col-sm-3 Delivery
                dd.col-sm-9 Russia, USA, and Europe
              
              // rating-wrap.//
              hr
              .row
                .col-sm-5
                  span.d-block.mb-2 Quantity
                  .input-group
                    button.btn.btn-outline-dark#inputGroup-sizing-lg.input-group-text.decrement
                      i.fas.fa-minus
                    input.form-control.text-center.quantity.border-dark(type='text' value="1" min="0" max="10" aria-label='quantity')
                    button.btn.btn-outline-dark#inputGroup-sizing-lg.input-group-text.increment
                      i.fas.fa-plus

                  // item-property .//
                  // col.//
                .col-sm-7
                  span.d-block.mb-2 Select size
                  input#sm-size.btn-check(type='radio' name='options-outlined' autocomplete='off' checked='')
                  label.btn.btn-outline-dark(for='sm-size') SM
                  input#md-size.btn-check(type='radio' name='options-outlined' autocomplete='off')
                  label.btn.btn-outline-dark(for='md-size') MD
                  input#xl-size.btn-check(type='radio' name='options-outlined' autocomplete='off')
                  label.btn.btn-outline-dark(for='xl-size') XL


                      
                  // item-property .//
                  // col.//
                  // row.//
              hr
              a.btn.btn-primary.me-1(href='#')  Buy now
              a.btn.btn-outline-primary(href='#')
                i.fas.fa-shopping-cart
                |  Add to cart
            // card-body.//
            // col.//
            // row.//
    // card.//
