.modal.fade#modal(tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
  .modal-dialog.modal-xl
    .modal-content.container.p-0
      .card
        .row
          aside.col-sm-5.border-right
            article.gallery-wrap
              .img-big-wrap
                div
                  a(href='assets/images/items/1.jpg' data-fancybox='')
                    img(src='assets/images/items/1.jpg')
              // slider-product.//
              .img-small-wrap
                .item-gallery
                  img(src='assets/images/items/1.jpg')
                .item-gallery
                  img(src='assets/images/items/2.jpg')
                .item-gallery
                  img(src='assets/images/items/3.jpg')
                .item-gallery
                  img(src='assets/images/items/4.jpg')
              // slider-nav.//
              // gallery-wrap .end//
          aside.col-sm-7
            article.p-5
              h3.title.mb-3 Original Version of Some product name
              .mb-3
                var.price.h3.text-warning
                  span.currency US $
                  span.num 1299
                span /per kg
              // price-detail-wrap .//
              dl
                dt Description
                dd
                  p
                    | Here goes description consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco
              dl.row
                dt.col-sm-3 Model#
                dd.col-sm-9 12345611
                dt.col-sm-3 Color
                dd.col-sm-9 Black and white
                dt.col-sm-3 Delivery
                dd.col-sm-9 Russia, USA, and Europe
              .rating-wrap
                ul.rating-stars
                  li.stars-active(style='width:80%')
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                .label-rating 132 reviews
                .label-rating 154 orders
              // rating-wrap.//
              hr
              .row
                .col-sm-5
                  dl.dlist-inline
                    dt Quantity:
                    dd
                      select.form-control.form-control-sm(style='width:70px;')
                        option  1
                        option  2
                        option  3
                  // item-property .//
                  // col.//
                .col-sm-7
                  dl.dlist-inline
                    dt Size:
                    dd
                      label.form-check.form-check-inline
                        input#inlineRadio2.form-check-input(type='radio' name='inlineRadioOptions' value='option2')
                        span.form-check-label SM
                      label.form-check.form-check-inline
                        input#inlineRadio2.form-check-input(type='radio' name='inlineRadioOptions' value='option2')
                        span.form-check-label MD
                      label.form-check.form-check-inline
                        input#inlineRadio2.form-check-input(type='radio' name='inlineRadioOptions' value='option2')
                        span.form-check-label XXL
                  // item-property .//
                  // col.//
                  // row.//
              hr
              a.btn.btn-primary.me-1(href='#')  Buy now
              a.btn.btn-outline-primary(href='#')
                i.fas.fa-shopping-cart
                |  Add to cart
            // card-body.//
            // col.//
            // row.//
    // card.//
