@import "../variables";

.content-slider{
  .carousel-control-prev-icon,
  .carousel-control-next-icon{
    background: none;
  }

  .carousel-indicators li {
    width: 70px;
    height: 70px;
    text-indent: 0;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid transparent;
    img{
      width: 100%;
      height: auto;
    }
    &.active,
    &:hover{
      opacity: 1;
      border: 1px solid $primary;
    }
  }
}
.quick-slider{
  height: 100%;
  .carousel-indicators{
    bottom: 15px;
  }}
