.card.shopping-cart
  .shopping-cart-header
    a(href="#")
      i.fas.fa-cart-arrow-down
      span.badge.bg-danger.badge-sm 3
    span.shopping-cart-total
      span.text-muted.me-1 Total:
      span.text-primary 3500 dzd
  figure.itemside.mb-2
    .aside
      .img-wrap.border-right.shopping-cart-image
        img(src='assets/images/items/3.jpg')
    figcaption.text-wrap.align-self-center.pt-3
      a(href="#"): i.far.fa-trash-alt.float-end.text-danger
      h6.title.text-dark.fs-6
        a(href="#") Some name s here nice
      .price-wrap.fw-lighter
        span.me-2.text-primary $1280
        span.text-muted Qts: 01
  figure.itemside.mb-2
    .aside
      .img-wrap.border-right.shopping-cart-image
        img(src='assets/images/items/4.jpg')
    figcaption.text-wrap.align-self-center.pt-3

      a(href="#"): i.far.fa-trash-alt.float-end.text-danger
      h6.title.text-dark.fs-6
        a(href="#") Some name s here nice
      .price-wrap.fw-lighter
        span.me-2.text-primary $1280
        span.text-muted Qts: 01

  .card-footer.bg-transparent.pt-3.border-0.pb-0
    .btn.btn-primary.w-100.text-light CHECKOUT
      // price-wrap.//
// card.//
