nav.topbav.bg-primary.d-none.d-lg-block.p-2
  .container
    #navbarTop.d-flex
      .me-auto
        .dropdown
          a.dropdown-toggle.link-light(href='#' data-toggle='dropdown') Language
          ul.dropdown-menu.small
            li
              a.dropdown-item(href='#') français
            li
              a.dropdown-item(href='#') Arabic
      ul.list-inline
        li.list-inline-item
          a.link-light(href='#')
            i.fa.fa-phone
            |  020 2366 455
        li.list-inline-item
          a.link-light() |
        li.list-inline-item
          a.link-light(href='#')
            i.fa.fa-envelope
            |  contact@email.com
      // list-inline //
      // navbar-collapse .//
      // container //
