aside.col-lg-5-24
  nav
    .title-category.bg-secondary.white.d-none.d-lg-block(style='margin-top:-53px')
      span Categories
    ul.menu-category
      li
        a(href='#') Food & Beverage
      li
        a(href='#') Home Equipments
      li
        a(href='#') Machinery Items
      li
        a(href='#') Toys & Hobbies
      li
        a(href='#') Beauty & Personal Care
      li
        a(href='#') Mobile phones
      li.has-submenu
        a(href='#')
          | More category
          i.icon-arrow-right.pull-right
        ul.submenu
          li
            a(href='#') Food & Beverage
          li
            a(href='#') Home Equipments
          li
            a(href='#') Machinery Items
          li
            a(href='#') Toys & Hobbies
          li
            a(href='#') Consumer Electronics
          li
            a(href='#') Home & Garden
          li
            a(href='#') Beauty & Personal Care
