section.section-main
  .container
    .row.border.border-top-0.bg-white
      //include aside
      // col.//
      main.col-lg-12
        // ========= intro aside =========
        .row
          .col-12
            // ================= main slide =================
            .owl-init.slider-main.owl-carousel.owl-loaded.owl-drag(data-items='1' data-xs='1' data-md="1" data-margin='1' data-nav='true' data-dots='false')
              .owl-stage-outer
                .owl-stage(style='transform: translate3d(-1484px, 0px, 0px); transition: all 0s ease 0s; width: 5194px;')
                  .owl-item.cloned(style='width: 741px; margin-right: 1px;')
                    .item-slide
                      img(src='assets/images/banners/slide2.jpg')
                  .owl-item.cloned(style='width: 741px; margin-right: 1px;')
                    .item-slide
                      img(src='assets/images/banners/slide3.jpg')
                  .owl-item.active(style='width: 741px; margin-right: 1px;')
                    .item-slide
                      img(src='assets/images/banners/slide1.jpg')
                  .owl-item(style='width: 741px; margin-right: 1px;')
                    .item-slide
                      img(src='assets/images/banners/slide2.jpg')
                  .owl-item(style='width: 741px; margin-right: 1px;')
                    .item-slide
                      img(src='assets/images/banners/slide3.jpg')
                  .owl-item.cloned(style='width: 741px; margin-right: 1px;')
                    .item-slide
                      img(src='assets/images/banners/slide1.jpg')
                  .owl-item.cloned(style='width: 741px; margin-right: 1px;')
                    .item-slide
                      img(src='assets/images/banners/slide2.jpg')
              .owl-nav
                button.owl-prev(type='button' role='presentation')
                  i.fa.fa-chevron-left
                button.owl-next(type='button' role='presentation')
                  i.fa.fa-chevron-right
              .owl-dots.disabled
            // ============== main slidesow .end // =============
            // col.//
          //.col-lg-3.col-md-4
            ul.list-group.list-group-flush
              li.list-group-item
                h6 Group of items goes here
                a.btn.btn-primary.btn-sm.btn-round(href='#')  View all
              li.list-group-item
                h6 Group of items goes here
                a.btn.btn-primary.btn-sm.btn-round(href='#')  View all
              li.list-group-item
                h6 Group of items goes here
                a.btn.btn-primary.btn-sm.btn-round(href='#')  View all
          // col.//
          // row.//
          // ======== intro aside ========= .//
          // col.//
          // row.//
          // container .//
