.card
  button.close( type="button" class="btn-close" aria-label="Close")
  .card-body
    h4.card-title.mb-4 Sign in
    form
      .form-floating.mb-3
        input#floatingInput.form-control(type='email' placeholder='name@example.com')
        label(for='floatingInput') Email address
      .form-floating.mb-3
        input#floatingPassword.form-control(type='password' placeholder='Password')
        label(for='floatingPassword') Password
        // input-group.//
        // form-group//
      .input-group.mb-3
        a(href='#') Forgot password ?
      // form-group form-check .//
      .input-group.mb-3
        button.btn.btn-primary.btn-block.text-light(type='submit')  Login
      // form-group//
      p.text-center.my-4 or access via
      .text-center.mb-3
        a.btn.btn-icon.rounded-circle.btn-facebook(href='#')
          i.fab.fa-facebook-f
        a.btn.btn-icon.rounded-circle.btn-google(href='#')
          i.fab.fa-google
        a.btn.btn-icon.rounded-circle.btn-twitter(href='#')
          i.fab.fa-twitter
        // text-center .//
        // card-body.//
  .card-footer.bg-transparent
    span Don't have an account? <a href="">Sign up</a>
