doctype html
html(lang='en')
  head
    title Titre
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
    link(rel="stylesheet", href="assets/scripts/vandor/plugins/fancybox/fancybox.min.css")
    link(rel="stylesheet", href="assets/scripts/vandor/plugins/owlcarousel/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="assets/scripts/vandor/plugins/owlcarousel/assets/owl.theme.default.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css")
    link(rel="stylesheet", href="assets/styles/main.css")
  body
    include _partials/header.pug
    include _partials/menu.pug
    include _partials/sections/first.pug
    include _partials/sections/main
    script(src="assets/scripts/js/jquery-2.0.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous")
    script(src="assets/scripts/js/bootstrap.min.js")
    script(src="assets/scripts/vandor/plugins/fancybox/fancybox.min.js")
    script(src="assets/scripts/vandor/plugins/owlcarousel/owl.carousel.min.js")
    script(src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js")
    script(src="assets/scripts/js/script.js")
    script(src="assets/scripts/js/bts-scripts.js")
